<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Add Teacher</title>
</head>

<body>
    <br/>

    <div class="jumbotron text-center">
        <h3 class="text-center">Add Teacher</h3>
    </div>
    <div class="container" id="addTeacherForm">
        <br/>
        <br/>
        <div id="form-wrapper" style="max-width:500px;margin:auto;">
            <form>
                <div class="form-group">
                    <label for="teacherName">Enter Teacher Name</label>
                    <input type="text" class="form-control" id="teacherName" name="teacherName" v-model="teacherName">
                </div>
                <label class="labelClass">Select Subject:</label>
                <select class="form-control" style="max-width:200px;" name="subjectDropdown" id="subjectDropdown" v-model="selected">
                    <option disabled value="">Select One</option>
                    <option v-bind:value='subject.id' v-for="subject in subjects">
                        {{subject.subjectName}}
                    </option>
                </select>
            </form>
            <br/>
            <div class="row">
                <!-- <div class="col-2"></div>
                <div class="col-3"></div> -->

                <div class="col-6">
                    <button id="btnSubjectAdd" class="btn btn-primary" v-on:click="addTeacher">Add</button>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>

    <script>
        let app = new Vue({
            el: '#addTeacherForm',
            data: {
                teacherName: '',
                subjects: [],
                selected: ''
            },
            mounted() {
                this.getSubjects();
            },
            methods: {
                getSubjects() {
                    axios.get("http://localhost:3000/api/subjects")
                        .then((response) => {
                            this.subjects = response.data
                        })
                        .catch((err) => {
                            console.log("Error in getting subjects")
                        })
                },
                addTeacher() {
                    axios.post("http://localhost:3000/api/teachers", {
                        teacherName: this.teacherName,
                        subjectId: this.selected
                    })
                        .then((response) => {
                            window.alert('Teacher successfully added to school record!')
                        })
                }
            }
        })
    </script>
</body>

</html>